* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.container-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 2rem;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #090D10;
    padding: 15px 0;
    z-index: 1000;
}
.masthead {
    margin: 0;
    height: 100vh;
    width: 100%;
    height: 700px;  /* ความสูงของภาพ */
    background-image: url(https://scontent.fbkk10-1.fna.fbcdn.net/v/t39.30808-6/484088231_652867117261076_4053757471503375226_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=f727a1&_nc_ohc=xpm2L71VDSoQ7kNvwGHWhIV&_nc_oc=AdmQBoNuRDo-QZlkfO0HdvCmmD8pYQ2C-78kGZFIDN6iGBlV3Td8FjYfdtStMM9x-OA&_nc_zt=23&_nc_ht=scontent.fbkk10-1.fna&_nc_gid=gPovNMp-ZwldhD900FWVpA&oh=00_AfGnEr8ZcO892yGd1Rzl8nQMvpTlzj2uppaYZUtZCQwYTQ&oe=681CFE15);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;  /* จัดแนวนอน */
    align-items: center;      /* จัดแนวตั้ง */
    text-align: center;
    padding: 18rem 0;
}

.menu {
    display: flex;
    margin: 0 2rem;
    list-style: none;
}
.con-photo {
   padding: 60px 0rem;

}
.text {
  text-align: center;
  font-size: 36px;
  font-family: 'Sarabun', sans-serif;
}
/* uxui */
.uxui-section {
    text-align: center;
    padding: 30px 20px;
  }
  
  .uxui-section h2 {
    font-size: 36px;
    font-family: 'Sarabun', sans-serif;
  }
  
  .uxui-section .subtitle {
    color: #6c757d;
    font-style: italic;
  }
  
  .uxui-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    max-width: 800px;
    margin: auto;
  }
  
  .uxui-item {
    background: #fff;
    border-radius: 4px;
  }
  
  .uxui-item img {
    width: 70%;
    height: auto;
  }
  
  .uxui-item h3 {
    margin: 15px 0 5px;
    font-size: 20px;
  }
  
  .uxui-item p {
    color: #6c757d;
    font-style: italic;
  }
  /* uxui-end */
.container-center{
    color: #fff;
}
/* Ai */
.portfolio-section {
    text-align: center;
    padding: 40px 20px;
  }
  
  .portfolio-section h2 {
    font-size: 30px;
    font-family: 'Sarabun', sans-serif;
  }
  
  .portfolio-section .subtitle {
    color: #6c757d;
    font-style: italic;
  }
  
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 35px;
    max-width: 800px;
    margin: auto;
  }
  
  .portfolio-item {
    background: #fff;
    border-radius: 4px;
  }
  
  .portfolio-item img {
    width: 70%;
    height: auto;
  }
  
  .portfolio-item h3 {
    margin: 15px 0 5px;
    font-size: 20px;
  }
  
  .portfolio-item p {
    color: #6c757d;
    font-style: italic;
  }
    /* Ai-end */
  /* PP */
.PP-section {
    text-align: center;
    padding: 60px 20px;
  }
  
  .PP-section h2 {
    font-size: 36px;
  }
  
  .PP-section .subtitle {
    color: #6c757d;
    font-style: italic;
  }
  
  .PP-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 35px;
    max-width: 800px;
    margin: auto;
  }
  .Pook-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    max-width: 800px;
    margin: auto;
  }
  .PP-item {
    background: #fff;
    border-radius: 4px;
  }
  .PP-item img {
    width: 100%;
    height: auto;
  }
  .P0-item h3 {
    margin: 15px 0 5px;
    font-size: 20px;
  }
  
  .P0-item p {
    color: #6c757d;
    font-style: italic;
  }
  
  .PP-item h3 {
    margin: 15px 0 5px;
    font-size: 20px;
  }
  .PP-item p {
    color: #6c757d;
    font-style: italic;
  }
    /* Ai-end */
  footer {
    color: #000000;
    text-align: center;
    padding: 2rem 0rem;
    position: relative;
    width: 100%;
    height: 50px;
  }
  @media screen and (max-width: 750px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
     .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .masthead {
        padding: 10rem 0;
    }
    .text {
        font-size: 24px;
    }
    .uxui-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .portfolio-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .PP-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .Pook-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    iframe {
	  aspect-ratio: 16 / 9;
	  height: 100%;
	  width: 100%;
    }
  }